<div ng-controller="groupController as vm" ng-init="vm.initializeController()">
    <h5 class="page-header2"><b>GROUP</b></h5>
    <div class="container-fluid col-md-12 page-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                GROUPS
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreate()" style="border: 0px solid transparent; background-color: transparent; padding-top: 1px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table tr-ng-grid="" page-items="10" items="vm.groups" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="true">
                    <thead>
                        <tr>
                            <th field-name="id" display-name="ID" cell-width="10em" display-align="right" enable-filtering="false"></th>
                            <th field-name="name" display-name="Name" enable-filtering="false"></th>
                            <th field-name="email" display-name="Email" enable-filtering="false"></th>
                            <th field-name="groupTypeName" display-name="Group Type" enable-filtering="false"></th>
                            <th display-name="Actions" cell-width="10em" enable-filtering="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalUpdate()" style="border: 0px solid transparent; background-color: transparent">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalDelete(); $event.stopPropagation()" style="border:0px solid transparent; background-color:transparent">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <modal id="0" title="Create Group" visible="vm.showModalCreate">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.group.name" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="vm.group.email" />
            </div>
            <div class="form-group">
                <label>Group Type</label>
                <select class="form-control" ng-model="vm.group.groupTypeId" ng-options="groupType.id as groupType.name for groupType in vm.groupTypes"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.createGroup()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Edit Group" visible="vm.showModalUpdate">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.group_.name" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="vm.group_.email" />
            </div>
            <div class="form-group">
                <label>Group Type</label>
                <select class="form-control" ng-model="vm.group_.groupTypeId" ng-options="groupType.id as groupType.name for groupType in vm.groupTypes"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.updateGroup()">Save</button>
            </div>
        </form>
    </modal>
    <modal id="0" title="Delete Group" visible="vm.showModalDelete">
        <form role="form">
            <label>Are you sure you want to delete item?</label>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.deleteGroup()">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.toggleModal()">Cancel</button>

            </div>
        </form>
    </modal>
</div>