<div ng-controller="userGroupController as vm" ng-init="vm.initializeController()">
    <h5 class="page-header2"><b>USER GROUP</b></h5>
    <div class="container-fluid col-md-12 page-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                USER GROUPS
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreate()" style="border: 0px solid transparent; background-color: transparent; padding-top: 1px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table tr-ng-grid="" page-items="10"  items="vm.userGroups" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="true">
                    <thead>
                        <tr>
                            <th field-name="id" display-name="ID" cell-width="10em" display-align="right" enable-filtering="false"></th>
                            <th field-name="userName" display-name="User" enable-filtering="false"></th>
                            <th field-name="groupName" display-name="Group" enable-filtering="false"></th>
                            <th display-name="Actions" cell-width="10em" enable-filtering="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalUpdate()" style="border: 0px solid transparent; background-color: transparent">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalDelete(); $event.stopPropagation()" style="border:0px solid transparent; background-color:transparent">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <modal id="0" title="Create User Group" visible="vm.showModalCreate">
        <form role="form">
            <div class="form-group">
                <label>User</label>
                <select class="form-control" ng-model="vm.userGroup.userId" ng-options="user.id as (user.name + ' ' + user.surname) for user in vm.users"></select>
            </div>
            <div class="form-group">
                <label>Group</label>
                <select class="form-control" ng-model="vm.userGroup.groupId" ng-options="group.id as group.name for group in vm.groups"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.createUserGroup()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Edit User Group" visible="vm.showModalUpdate">
        <form role="form">
            <div class="form-group">
                <label>User</label>
                <select class="form-control" ng-model="vm.usergroup.userId" ng-options="user.id as (user.name + ' ' + user.surname) for user in vm.users"></select>
            </div>
            <div class="form-group">
                <label>Group</label>
                <select class="form-control" ng-model="vm.usergroup.groupId" ng-options="group.id as group.name for group in vm.groups"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.updateUserGroup()">Save</button>
            </div>
        </form>
    </modal>
    <modal id="0" title="Delete User Group" visible="vm.showModalDelete">
        <form role="form">
            <label>Are you sure you want to delete item?</label>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.deleteUserGroup()">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.toggleModal()">Cancel</button>

            </div>
        </form>
    </modal>

    </div>
