body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}


.required:before { 
    
    content:"* "; 
    color:red; 
    font: bold;
   
    /* background-image: url('/Img/required.png');
	    background-repeat: no-repeat;
	    background-position: 50% 50%; */

}


.validation-error {
    color: Maroon;
    font-weight: bold;   
    background-color: #ffeeee;
    border-bottom-color:red;   
    border-top-color:red;   
    border-left-color:red;   
    border-right-color:red;   
}
body {
    cursor: default;
    font-size: 14px;
    line-height: 21px;
    font-family: "Segoe UI","Helvetica",Garuda,Arial,sans-serif;
    padding: 18px 18px 18px 18px;
}
.category ul {
    margin-bottom: 14px;
    list-style: none;
}
.category li {  height: 30px;  margin: 0 0 7px 0; }
.category li a { 
    display: block;
    height: 30px;
    margin: 0 0 7px 0;
    font-size: 18px;
    color: #333;
    padding: 5px 0 0 20px;
    text-decoration: none;
}
.selected {
    background: #F7F5F2;
}
.form-control {
    height: 32px;
}

li a:hover { background-color: #EFEFEF; }

.orange { border-left: 5px solid #F5876E; }

.blue{ border-left: 5px solid #2D5C88; }

.green{ border-left: 5px solid #8EBD40; }

.purple { border-left: 5px solid #988CC3; }

.gold { border-left: 5px solid #D8C86E; }

.category ul {
    margin-left:-40px;
}

.page-header{
    margin-left:25px;
    margin-right:15px;
}

.page-panel{
    padding-left:10px;
    padding-right:0px;
}

.second-part{
    padding-bottom: 9px;
    border-bottom: 1px solid #dddddd;
     text-transform: uppercase;
     font-weight:600;
     font-size:13px;
}

.panel-heading{
     text-transform: uppercase;
     font-weight:600;
     font-size:13px;
}

li.search-results{
    border-bottom:1px solid #eeeeee !important;
}

.pull-right{
    margin-bottom:inherit;
}


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}