<div ng-controller="documentController as vm" ng-init="vm.initializeController()">
    <h5 class="page-header"><b>DOCUMENT</b></h5>
    <!-- Document -->
    <div class="container-fluid col-md-12">
        <div class="col-md-3 page-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Folders
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreateFolder()" style="border: 0px solid transparent; background-color: transparent; padding-top:1px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="folder in vm.folders" ng-click="vm.getDocumentsForFolder(folder.id)" class="search-results">
                            <span class="glyphicon glyphicon-folder-close"></span>&nbsp; &nbsp;{{folder.name}}
                            <button ng-show="vm.showShare(folder.id)" type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalDeleteFolder(folder)" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                            <button ng-show="vm.showShare(folder.id)" type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalShareFolder(folder.id)" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                                <span class="fa fa-share-alt"></span>
                            </button>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Documents-->
        <div class="col-md-9 page-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Documents
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreateDocument()" style="border: 0px solid transparent; background-color: transparent; padding-top:1px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <table tr-ng-grid="" items="vm.parentDocuments" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="true" page-items="5">
                        <thead>
                            <tr>
                                <th field-name="id" display-name="ID" cell-width="10em" display-align="right" enable-filtering="false"></th>
                                <th field-name="name" display-name="Name" cell-width="40em" enable-filtering="false"></th>
                                <th field-name="extension" display-name="Extension" cell-width="10em" enable-filtering="false"></th>
                                <th field-name="created" display-name="Created" cell-width="20em" display-format=" date:'yyyy-mm-dd hh:mm:ss'" enable-filtering="false"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Versions
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreateVersion()" style="border: 0px solid transparent; background-color: transparent; padding-top:1px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <table tr-ng-grid="" items="vm.documentVersions" selected-items="vm.mySelectedItemsR" selection-mode="SingleRow" enable-filtering="true" page-items="5">
                        <thead>
                            <tr>
                                <th field-name="id" display-name="ID" cell-width="10em" display-align="right" enable-filtering="false"></th>
                                <th field-name="name" display-name="Name" cell-width="40em" enable-filtering="false"></th>
                                <th field-name="created" display-name="Created" cell-width="20em" display-format=" date:'yyyy-mm-dd hh:mm:ss'" enable-filtering="false"></th>
                                <th display-name="Actions" cell-width="10em" enable-filtering="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-default btn-sm col-xs-3 col-sm-3 col-sm-offset-1 " ng-click="vm.downloadDocument(gridItem.id, gridItem.name); $event.stopPropagation()" style="border: 0px solid transparent; background-color: transparent">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>

                                    <button ng-show="vm.showDeleteVersion(gridItem)" class="btn btn-default btn-sm col-xs-3 col-sm-3 col-sm-offset-1 " ng-click="vm.toggleModalDeleteDocument(); $event.stopPropagation()" style="border:0px solid transparent; background-color:transparent">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
        </div>
      


    <modal id="0" title="Create Folder" visible="vm.showModalCreateFolder">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.folder.name" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.createFolder()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Share Folder" visible="vm.showModalShareFolder">
        <form role="form">
            <div class="form-group">
                <label>User</label>
                <select class="form-control" ng-model="vm.contentRight.userId" ng-options="user.id as (user.name + ' ' + user.surname) for user in vm.users"></select>
            </div>
            <div class="form-group">
                <label>Right Type</label>
                <select class="form-control" ng-model="vm.contentRight.rightTypeId" ng-options="rightType.id as rightType.name for rightType in vm.rightTypes"></select>
            </div>
            <div class="form-group">
                <label>Folder already shared with:</label>
                <ul class="list-unstyled">
                    <li ng-repeat="user in vm.sharedUsers" ng-click="" class="search-results">
                        <span class="glyphicon glyphicon-user"></span>&nbsp; &nbsp;{{user.name}} {{user.surname}}
                        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.disableShareFolder(user.id)" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                </ul>            
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.shareFolder()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Delete Folder" visible="vm.showModalDeleteFolder">
        <form role="form">
            <label>Are you sure you want to delete folder {{vm.folderToDelete.name}}?</label>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.deleteFolder()">Delete</button>
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.toggleModal()">Cancel</button>

            </div>
        </form>
    </modal>

    <modal id="0" title="Create Document" visible="vm.showModalCreateDocument">
        <form class="form-horizontal" role="form" >
            <div class="row">
                <div class="form-group row col-md-12"  ng-repeat="contentTypeName in ['folder']" ng-include="'/Views/Shared/upload.html'"></div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.saveDocument()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Create Version" visible="vm.showModalCreateVersion">
        <form class="form-horizontal" role="form" >
            <div class="row">
                <div class="form-group row col-md-12"  ng-repeat="contentTypeName in ['folder']" ng-include="'/Views/Shared/upload.html'"></div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.saveVersion()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Delete Document" visible="vm.showModalDeleteDocument">
        <form role="form">
            <label>Are you sure you want to delete document {{vm.mySelectedItemsR[0].name}}?</label>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.deleteDocument()">Delete</button>
                <button type="submit" class="btn btn-primary pull-right" ng-click="vm.toggleModal()">Cancel</button>

            </div>
        </form>
    </modal>
</div>
