<div ng-controller="documentController as vm" ng-init="vm.initializeController()">
    <h4 class="page-header">Documents</h4>
    <!-- Document -->
    <div class="container-fluid col-md-12">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Folders
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreateFolder()" style="border: 0px solid transparent; background-color: transparent">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="folder in vm.folders" ng-click="vm.getDocumentsForFolder(folder.id)"><span class="glyphicon glyphicon-folder-close"></span>&nbsp; &nbsp;{{folder.name}}
                            <button ng-show="vm.showShare(folder.id)" type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalDeleteFolder(folder)" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>    
                            <button ng-show="vm.showShare(folder.id)" type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalShareFolder(folder.id)" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                                <span class="fa fa-share-alt"></span>
                            </button>
                           
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Documents-->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Document
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreateDocument()" style="border: 0px solid transparent; background-color: transparent">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <table tr-ng-grid="" items="vm.parentDocuments" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="false">
                        <thead>
                            <tr>
                                <th field-name="id" display-name="ID" cell-width="10em" display-align="right"></th>
                                <th field-name="name" display-name="Name"></th>
                                <th field-name="extension" display-name="Extension"></th>
                                <th field-name="created" display-name="Created"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br />
                    <br />
                    <table tr-ng-grid="" items="vm.documentRevisions" selected-items="vm.mySelectedItemsR" selection-mode="SingleRow" enable-filtering="false">
                        <thead>
                            <tr>
                                <th field-name="id" display-name="ID" cell-width="10em" display-align="right"></th>
                                <th field-name="name" display-name="Name"></th>
                                <th field-name="created" display-name="Created"></th>
                                <th display-name="Actions" cell-width="10em"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <button class="btn btn-default btn-sm col-xs-3 col-sm-3 col-sm-offset-1 " ng-click="vm.downloadDocument()" style="border: 0px solid transparent; background-color: transparent">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </button>

                                    <button class="btn btn-default btn-sm col-xs-3 col-sm-3 col-sm-offset-1 " ng-click="vm.toggleModalDelete(); $event.stopPropagation()" style="border:0px solid transparent; background-color:transparent">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <modal id="0" title="Create Folder" visible="vm.showModalCreateFolder">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.folder.name" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.createFolder()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Share Folder" visible="vm.showModalShareFolder">
        <form role="form">
            <div class="form-group">
                <label>User</label>
                <select class="form-control" ng-model="vm.contentRight.userId" ng-options="user.id as user.name for user in vm.users"></select>
            </div>
            <div class="form-group">
                <label>Right Type</label>
                <select class="form-control" ng-model="vm.contentRight.rightTypeId" ng-options="rightType.id as rightType.name for rightType in vm.rightTypes"></select>
            </div>
            <div class="form-group">
                <label>Folder already shared with:</label>
                <ul class="list-unstyled">
                    <li ng-repeat="user in vm.sharedUsers" ng-click="">
                        <span class="glyphicon glyphicon-user"></span>&nbsp; &nbsp;{{user.name}} {{user.surname}}
                        <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.disableShareFolder(user.id)" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </li>
                </ul>            
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.shareFolder()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Delete Folder" visible="vm.showModalDeleteFolder">
        <form role="form">
            <label>Are you sure you want to delete folder {{vm.folderToDelete.name}}?</label>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.deleteFolder()">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.toggleModal()">Cancel</button>

            </div>
        </form>
    </modal>
</div>
