<div ng-controller="workflowController as vm" ng-init="vm.initializeController()">
    <h5 class="page-header"><b>WORKFLOW</b></h5>
    <!-- Document -->
    <div class="container-fluid col-md-12">

        <!--     ACTION CREATE-->
        <div class="" ng-show="vm.showModalActionCreate">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create new action

                </div>
                <div class="panel-body">
                    <form role="form ">
                        <div class="form-group row col-lg-12 offset2">
                            <div>
                                <label>Action type</label>
                            </div>
                            <div class="col-md-3 offset2">
                                <select class="form-control" ng-model="vm.action.ActionTypeId"
                                        ng-options="model.id as model.name for model in vm.nextActionTypes" ng-change="vm.GetDelegatedUsers()"></select>
                            </div>
                        </div>
                        <div class="form-group row  col-lg-12 offset2">
                            <div>
                                <label>Send to</label>
                            </div>
                            <div class="col-md-3 offset2">
                                <label ng-repeat="model in vm.nextDelegated" style="display:block">
                                    <input type="checkbox" ng-model="vm.selected[model.id]" checklist-value="model.id"> {{model.name}}
                                </label>
                            </div>
                        </div>
                        <hr />

                        <div class="form-group row col-lg-6 offset2" ng-repeat="contentTypeName in ['action']" ng-include="'/Views/Shared/upload.html'">


                        </div>


                        <div class="panel panel-default" style="border:0px">
                            <div class="panel-body" id="forms" ng-show="vm.showForms"></div>
                        </div>

                        <div class="form-group" style="clear:both;">
                            <button type="submit" class="btn btn-primary" ng-click="vm.CreateAction()">Save</button>
                            <button type="button" class="btn btn-default" ng-click="vm.CancelAction()">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!--    WORKFLOW CREATE-->
        <div class="" ng-show="vm.showModalCreate">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create new workflow

                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Workflow type</label>
                            <select class="form-control" ng-model="vm.workflow.workflowTypeId"
                                    ng-options="model.id as model.name for model in vm.workflowTypes"></select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="vm.workflow.name" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="vm.CreateWorkflow()">Save</button>
                            <button type="button" class="btn btn-default" ng-click="vm.CancelWorkflow()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--    WORKFLOW UPDATE-->
        <div class="" ng-show="vm.showModalUpdate">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Update workflow

                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="vm.selectedWorkflow.name" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-click="vm.UpdateWorkflow()">Save</button>
                            <button type="button" class="btn btn-default" ng-click="vm.CancelWorkflow()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3 page-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    FOLDERS
                </div>
                <div class="panel-body">
                        <ul class="list-unstyled category" visible="vm.showWorkflows">
                            <li ng-repeat="model in vm.workflowFolders" ng-click="vm.GetWorkflowsByFolderId($index, model.id)" ng-class="{ 'selected': $index == vm.selectedFolderIndex }">
                            <span class="fa fa-list-alt"></span>&nbsp;&nbsp;{{model.name}}
                            <span class="badge badge-info">{{model.number}}</span>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 page-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    WORKFLOWS
                    <button type="button" class="btn btn-default btn-sm pull-right" ng-show="vm.showWorkflows" ng-click="vm.ToggleModalCreate()" style="border: 0px solid transparent; background-color: transparent">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm pull-right" ng-show="!vm.showWorkflows" ng-click="vm.ToggleModalActionCreate()" style="border: 0px solid transparent; background-color: transparent">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="panel-body">
                    <div visible="vm.showWorkflows">

                        <div>

                            <table page-items="10"  id="tableWorkflows" style="display:none" style="height:100% !important;" tr-ng-grid="" items="vm.workflows" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="false">
                                <thead>
                                <th field-name="name" display-name="Name"></th>
                                <th field-name="caseNumber" display-name="Case number"></th>
                                <th field-name="created" display-name="Created" display-format="date:'dd.MM.yyyy HH:mm'"></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <button class="btn btn-default btn-sm col-xs-4  " ng-click="vm.ToggleModalUpdate(gridItem)" style="border: 0px solid transparent; background-color: transparent">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>

                                            <button class="btn btn-default btn-sm col-xs-4  " style="border:0px solid transparent; background-color:transparent">
                                                <span class="glyphicon glyphicon-trash" ng-show="gridItem.canDelete" ng-click="vm.DeleteWorkflow(vm.workflows.splice(vm.workflows.indexOf(gridItem),1))"></span>
                                            </button>

                                            <button class="btn btn-default btn-sm col-xs-4 " ng-click="vm.ViewWorkflow('/Workflow/Workflow?id='+gridItem.id)" style="border:0px solid transparent; background-color:transparent">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                
                    <div class="col-sm-12" id="divWorkflow" style="display:none">

                        <div>
                            <table id="tableActions" page-items="3"  style="display:none" style="height:100% !important;" tr-ng-grid="" items="vm.actions" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="false">
                                <thead>
                                <th field-name="ordinalNo" display-name="No"></th>
                                <th field-name="actionTypeName" display-name="Action type"></th>
                                <th field-name="createdByName" display-name="Created by"></th>
                                <th field-name="created" display-name="Created"></th>
                                <th field-name="delegatedName" display-name="Delegated"></th>
                                <th display-name="Forms"></th>
                                <th display-name="Documents"></th>
                                </thead>
                                <tbody>

                                    <tr>

                                        <td>

                                            <div ng-bind-html="gridItem.forms"></div>
                                        </td>
                                        <td>
                                            <button ng-show="gridItem.hasDocuments" class="btn btn-default btn-sm col-xs-12 " ng-click="vm.ViewDocuments(gridItem.id)" style="border:0px solid transparent; background-color:transparent">
                                                <span class="glyphicon glyphicon-paperclip"></span>
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-default btn-sm col-xs-12" style="border:0px solid transparent; background-color:transparent">
                                                <span class="glyphicon glyphicon-trash" ng-show="vm.showDeleteAction($index)" ng-click="vm.DeleteAction(vm.actions.splice(vm.actions.indexOf(gridItem),1))"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    </div>
                </div>
            </div>
        </div>
                    <modal id="0" title="Action documents" visible="vm.showModalDocuments">
                        <ul class="list-unstyled col-md-12">
                            <li ng-repeat="model in vm.Documents" ng-click="">
                                <span class="fa fa-file-{{vm.GetFileType(model.name)}}-o"></span>&nbsp; &nbsp;{{model.name}}
                                <button type="button" ng-click="vm.GetFile(model.id, model.name)" class="btn btn-default btn-sm pull-right" style="border: 0px solid transparent; background-color: transparent; padding-top:0px; padding-bottom:0px;">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                        </ul>
                        <hr />
                        <div class="form-group">
                            <button type="button" class="btn btn-default" ng-click="vm.CloseDocumentModal()">Close</button>
                        </div>
                    </modal>
                </div>
