

<div ng-controller="workflowController as vm" ng-init="vm.initializeController()">
    <h4 class="page-header">{{vm.title}}</h4>
    <div>
        <alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.closeAlert($index)"><div ng-bind-html="vm.messageBox"></div></alert>
    </div>
    <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreate()" style="border: 0px solid transparent; background-color: transparent">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <table tr-ng-grid="" items="vm.workflows" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="false">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>
                    <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalUpdate()" style="border: 0px solid transparent; background-color: transparent">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="" style="border:0px solid transparent; background-color:transparent">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    
  
