<div ng-controller="workflowTypeController as vm" ng-init="vm.initializeController()">
    <h5 class="page-header2"><b>WORKFLOW TYPE</b></h5>
    <div class="container-fluid col-md-12 page-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                WORKFLOW TYPES
                <button type="button" class="btn btn-default btn-sm pull-right" ng-click="vm.toggleModalCreate()" style="border: 0px solid transparent; background-color: transparent; padding-top: 1px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="panel-body">
                <table tr-ng-grid="" page-items="10"  items="vm.workflowTypes" selected-items="vm.mySelectedItems" selection-mode="SingleRow" enable-filtering="true">
                    <thead>
                        <tr>
                            <th field-name="id" display-name="ID" cell-width="10em" display-align="right" enable-filtering="false"></th>
                            <th field-name="name" display-name="Name" enable-filtering="false"></th>
                            <th field-name="description" display-name="Description" enable-filtering="false"></th>
                            <th display-name="Actions" cell-width="10em" enable-filtering="false"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalUpdate()" style="border: 0px solid transparent; background-color: transparent">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>

                                <button class="btn btn-default btn-sm col-xs-4 col-sm-4 col-sm-offset-1 " ng-click="vm.toggleModalDelete(); $event.stopPropagation()" style="border:0px solid transparent; background-color:transparent">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <modal id="0" title="Create Workflow Type" visible="vm.showModalCreate">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.workflowType.name" />
            </div>
            <div class="form-group">
                <label for="comment">Description</label>
                <textarea class="form-control" rows="5" ng-model="vm.workflowType.description"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.createWorkflowType()">Save</button>
            </div>
        </form>
    </modal>

    <modal id="0" title="Edit Workflow Type" visible="vm.showModalUpdate">
        <form role="form">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" ng-model="vm.workflowtype.name" />
            </div>
            <div class="form-group">
                <label for="comment">Description</label>
                <textarea class="form-control" rows="5" ng-model="vm.workflowtype.description"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.updateWorkflowType()">Save</button>
            </div>
        </form>
    </modal>
    <modal id="0" title="Delete Workflow Type" visible="vm.showModalDelete">
        <form role="form">
            <label>Are you sure you want to delete item?</label>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="vm.deleteWorkflowType()">Delete</button>
                <button type="submit" class="btn btn-primary" ng-click="vm.toggleModal()">Cancel</button>

            </div>
        </form>
    </modal>
</div>