

<div ng-controller="indexController as vm" ng-init="vm.initializeController()">

    {{vm.IsLogedIn}}  
    <div>
        <form  name="f1" ng-submit="vm.Login()">
            <div style="color:rgb(142,2,2)">{{vm.Message}}</div>
            <table ng-show="!vm.IsLogedIn">
                <!-- Here  ng-show="!IsLogedIn" means I want to hide table after loged in-->
                <tr>
                    <td>Username : </td>
                    <td>

                        <!-- Here ng-class="Submitted?'ng-dirty':''" Means if submitted (clicked submit button) then make this dirty state
                        for show red border-->
                        <input type="text" ng-model="vm.LoginData.Username" name="cUsername" ng-class="vm.Submitted?'ng-dirty':''" required autofocus />
                        <span class="error" ng-show="(f1.cUsername.$dirty || Submitted) && f1.cUsername.$error.required">Username required</span>

                        <!-- ng-show="(f1.cUsername.$dirty || Submitted) && f1.cUsername.$error.required" Means I want to show this span only when
                        the control cUsername is invalid-->
                    </td>
                </tr>
                <tr>
                    <td>Password : </td>
                    <td>
                        <input type="password" ng-model="vm.LoginData.Password" name="cPassword" ng-class="vm.Submitted?'ng-dirty':''" required autofocus />
                        <span class="error" ng-show="(f1.cPassword.$dirty || vm.Submitted) && f1.cPassword.$error.required">Password required</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

